<% if (params[:note_type] == "Validation Errors" or params[:note_type] == "Error") && !params[:action_name] %>
  <h3>Top</h3>

  <table>
    <thead>
      <tr>
        <th>Errors</th>
        <th style="width: 10%; text-align: right;">Users</th>
        <th style="width: 10%; text-align: right;">Count</th>
        <th style="width: 10%; text-align: right;">First seen</th>
        <th style="width: 10%; text-align: right;">Last seen</th>
      </tr>
    </thead>
    <tbody>
      <% Notable::Request.select("note, action, min(created_at) as start_at, max(created_at) as end_at, COUNT(DISTINCT (user_type || user_id)) as count_user, COUNT(*) as count_all").where(note_type: params[:note_type]).group([:note, :action]).order("count_all desc").each do |agg| %>
        <tr>
          <td>
            <%= agg.note %> <span style="color: #999;"><%= agg.action %></span>
            <%= link_to "view", params.merge(note: agg.note, action_name: agg.action) %>
          </td>
          <td style="text-align: right;"><%= agg.count_user %></td>
          <td style="text-align: right;"><%= agg.count_all %></td>
          <td style="text-align: right;"><%= agg.start_at.in_time_zone(NotableWeb.time_zone).strftime("#{agg.start_at < 24.hours.ago ? "%F " : nil}%R") %></td>
          <td style="text-align: right;"><%= agg.end_at.in_time_zone(NotableWeb.time_zone).strftime("#{agg.end_at < 24.hours.ago ? "%F " : nil}%R") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if params[:user_type] and params[:user_id] %>
  <h3><%= params[:user_type] %> <%= params[:user_id] %></h3>
<% end %>

<%= render partial: "stream", locals: {requests: @requests, show_user: !(params[:user_id] && params[:user_type])} %>

<% if @requests.current_page != 1 %>
  <%= link_to "Prev", params.merge(page: @requests.current_page - 1), style: "margin-right: 20px;" %>
<% end %>
<% if @requests.size == @requests.limit_value %>
  <%= link_to "Next", params.merge(page: @requests.current_page + 1) %>
<% end %>
